html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#render-area {
  width: 90%;
  height: 90%;
}